.listParts{
    padding: 25px 50px;
}
.page-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
  
}
.page-container > input {
    position: absolute;
    top: 66px;
    right: 50px;
    border-radius: 5px;
    outline: none;
    padding: 8px;
    border: 0;
}